@model SimbaBank.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @Model.Name <br />
    @Model.Balance.00 Zebra <br />
    @Model.AnimalType <br />
    @Model.IsKing <br />
    @Model.IsGood
    </body>
</html>